.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
    border-top: 0;
}


.table-user-information>tbody>tr>td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.product-page {
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageAlignment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.outerBorderW {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.product-image {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.reviews {
    background-color: #e0e0e0;
    color: black;
    padding-bottom: 200px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.product-box {
    transition: transform 0.3s;
}

#productBox.product-box:hover {
    transform: scale(1.1);
    background-color: #393030;
}

.productText {
    color: white;
    font-size: 15px;
    text-align: center;
}

.noReviews {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.reviewsHeader {
    color: black;
}

@media screen and (max-width: 600px) {

    /* This will apply when the screen width is 600px or less */
    #slideshow img {
        height: auto;
        /* Allow the height to scale down on smaller screens */
    }

    .noReviews {
        position: absolute;
        right: 187px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
    }

    .reviews {
        background-color: #D9D9D9;
        color: black;
        padding-bottom: 200px;
    }

    .review {
        position: absolute;
        right: 187px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
    }
}

.imageButton {
    width: 90px;
    height: 15px;
    margin: 0 5px;
    border-radius: 25px;
    background-color: #727272;
}

.imageButton.active {
    background-color: #f2c744;
    width: 110px;
}

/* Add this media query for smaller screens */
@media screen and (max-width: 600px) {
    #imageButtons {
        margin-top: -200px;
        /* Adjust this value as needed */
    }

    .imageButton {
        width: 50px;
        /* Adjust this value as needed */
    }

    .imageButton.active {
        width: 60px;
        /* Adjust this value as needed */
    }
}

.navbar {
    box-shadow: 0px 0px 15px 0px #0000008b;
    background-color: #00ffa6;
    /* No work */
}

:root {
    --sidebar-background-light: linear-gradient(to top, rgba(148, 215, 242, 1) 0%, rgba(252, 247, 248, 1) 56%);
    --sidebar-background-dark: linear-gradient(to bottom, rgba(28, 27, 31, 1) 42%, rgba(49, 49, 49, 1) 53%, rgba(61, 157, 217, 1) 82%);
}

#sidebar {
    background: var(--sidebar-background);
}

.sidebar {
    width: 320px;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    border-right: 2px solid gray;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed .sidebar-item {
    display: none;
}

.sidebar .bi {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-footer {
    padding: 1rem;
}

.sidebar-footer .btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.content {
    flex-grow: 1;
    transition: margin-left 0.3s;
    position: relative;
    margin-left: 320px;
    height: 100vh;
}

.sidebar.collapsed~.content {
    margin-left: 80px;
}

.sidebar.collapsed .bi {
    margin-left: auto;
    margin-right: auto;
}

.background-sidebar {
    position: fixed;
    background: var(--sidebar-background-light);
    z-index: 1;
}

body.dark .background-sidebar {
    background: var(--sidebar-background-dark);
}

/*login*/

.login-styling {
    background-image: url('https://svgshare.com/i/14wX.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.glass {
    background: rgba(204, 255, 253, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0px;
    width: 50%;
}

.login-box {
    padding: 8vh;
    padding-left: 9vw;
    padding-right: 9vw;
    box-shadow: #39303044 0px 0px 10px 0px;
}

.emIcon {
    width: 1em;
    height: 1em;
}

/* ">" gør at stilen kun rammer direkte børn, og ikke subitems */
#sidebar.collapsed li.mb-2>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.moreSpacing {
    margin-left: 10px;
}

/* overruler en bootstrap dropdown ting, der gjorde at et sidebar element ikke var centreret */
.btn.dropdown-toggle::after {
    transform: translateX(-25%)
}

.room-image {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--bs-border-radius);
}

.boldListText {
    font-size: 1em;
    font-weight: bold;
}

.roomName {
    margin-left: 10px;
}

.sectionName {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .sidebarPhone {
        margin-bottom: 80px;
    }
}

.leaveText {
    color: #F2545B;
}